@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
 display: flex;
 place-items: center;
 min-width: 320px;
 min-height: 100px;
}

.start-button {
  background: linear-gradient(to right, #f0e68c, #ffa500);
  color: #333;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.start-button:hover {
  background: linear-gradient(to right, #ffa500, #f0e68c);
}

/* Animations */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

#closePopup {
  background-color: #3D4352; /* farven fra bg-gray-800 */
  color: #6D727F; /* text-gray-500 */
  transition: all 0.3s;
}

#closePopup:hover {
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;
  animation: rainbow 3s linear infinite;
  color: 6D727F; /* kan ændres hvis du vil */
  transform: scale(1.05);
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}