@tailwind base;
@tailwind components;
@tailwind utilities;


/* --- Egen font --- */
@font-face {
  font-family: 'MinFont';
  src: url('Fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tilføj fonten som en Tailwind layer */
@layer base {
  * {
    font-family: 'MinFont', sans-serif;
  }
  
  body {
    font-family: 'MinFont', sans-serif;
  }
}

/* Brug den globalt */
body {
  font-family: 'MinFont', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100px;

}

.start-button {
  background: linear-gradient(to right, #f0e68c, #ffa500);
  color: #333;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.start-button:hover {
  background: linear-gradient(to right, #ffa500, #f0e68c);
}

/* Animations */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

#startBtn,
#closePopup {
  background-color: #3D4352;
  color: #6D727F;
  transition: all 0.3s;
}

#startBtn:hover,
#closePopup:hover {
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;
  animation: rainbow 3s linear infinite;
  color: #6D727F;
  transform: scale(1.05);
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}